/* 글로벌 스타일 */
body {
  width: 70%;
  min-width: 700px;

  margin: 0 auto;
  margin-top: 0;
}

/* header */
header {
  display: flex;

  width: 100%;
  height: 200px;

  border-bottom: 1px solid black;
  background: #e1bff9;
}

header > h1 {
  margin: auto;
}

/* main */
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;

  background: #feddd5;
}

.movie-card {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 20%;
  min-width: 250px;
  height: 450px;

  background: white;
  margin: 20px 15px 20px 15px;
  padding: 15px 10px 10px 15px;

  gap: 10px;
  overflow: hidden;
}

.movie-card-image {
  width: 90%;
  height: 70%;
}

.movie-card-title {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.slide-text {
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}

.movie-card-overview {
  height: 20%;

  word-break: break-all;
  overflow: auto;
}

.movie-card-overview::-webkit-scrollbar {
  width: 6px;
  height: 100%;
}

.movie-card-overview::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 5px;
}

.movie-card-rating {
  align-self: self-end;

  color: #c92cc9;
  font-size: 14px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;

  height: 70px;

  background: #f5f5dc;
  border-bottom: 1px solid black;

  gap: 30px;
}

.search-err-msg {
  color: red;
  font-size: 14px;
}

.page-err-msg {
  color: red;
  font-size: 14px;
}

.hidden {
  display: none;
}

@keyframes marquee {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(-70%);
  }
}
